<div class="container">
  <table class="table table-bordered table-responsive table-hover">
    <thead>
      <tr>
        <th>State</th>
        <th>Series</th>
        <th>New max value</th>
        <th>Period max value</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for s in analyzed_data %}
      {% if s.state is equalto state.SUCCESS %}
      <tr data-href="{{ s.link }}">
        <td><span class="label label-success">Success</span></td>
      {% elif s.state is equalto state.INFO %}
      <tr class="info" data-href="{{ s.link }}">
        <td><span class="label label-info">Info</span></td>
      {% elif s.state is equalto state.WARNING %}
      <tr class="warning" data-href="{{ s.link }}">
        <td><span class="label label-warning">Warning</span></td>
      {% else %}
      <tr class="danger" data-href="{{ s.link }}">
        <td><span class="label label-danger">Error</span></td>
      {% endif %}
        <td>{{ s.name }}</td>
        <td>{{ s.new_data }}</td>
        <td>{{ s.period }}</td>
        <td>{{ s.detail }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
